{% extends "table5.html" %}
{% block title %}未处理记录的预警信息{% endblock %}
{% block title1 %}最新预警展示（单击ID列可查看监控详情）{% endblock %}
{% block href %}
                            <li class="active"><a href="newreason_select.do">未处理告警</a></li>
                            <li><a href="select">需跟进告警</a></li>
                            <li ><a href="recovered_select.do">已恢复告警</a></li>
                            <li><a href="NIselect_Ignored_select">已忽略告警</a></li>
{% endblock %}
{% block form %}
{{a}}
	<form action="newreason_select.do" method="post" class="form-inline" />
					<select name="search">
						{% if search == "alarm_value" %}
						<option value="content">预警内容</option>
						<option value="alarm_value" selected>预警责任人</option>
						{% else %}
						<option value="content">预警内容</option>
						<option value="alarm_value">预警责任人</option>
						{% endif %}
					</select>
                                                   起止时间：<input type="text" data-date-format="yyyy-mm-dd" value="" class="datepicker" name="startTime"/> - <input type="text" data-date-format="yyyy-mm-dd" value="" class="datepicker"  name ="endTime"/>
					<input type="text" name="value" placeholder="查询关键词" value="{{value}}"/>
					<input type="submit" class="btn"  value="查询" />
{% if role == 4 or role == 6 or role == 8 %}
					&nbsp&nbsp&nbsp&nbsp<input type="button" class="btn" value="批量恢复" onclick="window.location.href ='recover'" />
                                        &nbsp&nbsp&nbsp&nbsp<input type="button" class="btn" value="我的告警" onclick="window.location.href ='Myalarm'" />
{% endif %}
 	</form>	
				
{% endblock %}

{% block thread %}
						
										<tr>
                                                                    			<th>ID</th>
											<th>预警内容</th>
											<th  nowrap="nowrap">处理责任人</th>
											<th  nowrap="nowrap">预警知会人</th>
											<th  nowrap="nowrap">告警次数</th>
											<th  nowrap="nowrap">历史出现次数</th>
											<th  nowrap="nowrap">状态</th>
											<th  nowrap="nowrap">预警时间</th>
											<th  nowrap="nowrap">响应时间</th>
											<th  nowrap="nowrap">原因记录</th>
										</tr>
{% endblock %}

{% block tbody %}
										
										{% for mobile in table_list %}
										<tr>
											<td><a href="alarm_detail?id={{mobile.monitor_sn}}&sn={{mobile.id}}">{{mobile.id}}</a></td>
											{% if mobile.monitor_level == 0 %}
                                                                                        <td style="word-break:break-all; word-wrap: break-word"><font color="#EA0000"><div title="monitor_sn:{{mobile.monitor_sn}}处理方式:{{mobile.deal}}">{{mobile.content}}</div></font></td>
                                                                                        {% elif mobile.monitor_level == 1  %}
                                                                                        <td style="word-break:break-all; word-wrap: break-word"><font color="#FF00FF"><div title="monitor_sn:{{mobile.monitor_sn}}处理方式:{{mobile.deal}}">{{mobile.content}}</div></font></td>
                                                                                        {% else %}
                                                                                        <td style="word-break:break-all; word-wrap: break-word"><div title="monitor_sn:{{mobile.monitor_sn}}处理方式:{{mobile.deal}}">{{mobile.content}}</div></td>
                                                                                        {% endif %}
											<td nowrap="nowrap"><font color="#FF00FF">{{mobile.alarm_uname1}}</font>,{{mobile.alarm_uname2}}</td>
											<td>{{mobile.alarm_addname}}</td>
											<td nowrap="nowrap">{{mobile.alarm_amount}}</td>
											<td nowrap="nowrap">{{mobile.count}}</td>
											{% if mobile.note_time == NULL %}
											<td nowrap="nowrap"><font color="#EA0000"><a href="newreason_select?id={{mobile.id}}">立即响应</a></td>
											{% endif %}
											{% if mobile.note_time != NULL %}
											<td nowrap="nowrap"><font color="#EA0000">响应中</td>
											{% endif %}
											<td nowrap="nowrap">{{mobile.insert_time|date:"Y-m-d H:i:s"}}</td>
											<td nowrap="nowrap">{{mobile.note_time|date:"Y-m-d H:i:s"}}</td>
                                                                                        {% if mobile.note_time == NULL %}
											<td><a href="addReason?id={{mobile.id}}" onclick="return false">处理记录</a></td>
                                                                                        {% endif %}
                                                                                        {% if mobile.note_time != NULL %}
											<td><a href="addReason?id={{mobile.id}}">处理记录</a></td>
                                                                                        {% endif %}


										</tr>
										{% endfor %}

{% endblock %}						
				
