{% extends "form.html" %}
{% block title %}添加{% endblock %}
{% block title1 %}域名信息{% endblock %}
{% block form %}
					<form  action="insert.do" method="post" class="form-horizontal"  id="formID">
					
					<div class="control-group">
							   <label class="control-label">业务类型</label>
							   <div class="controls">
									<select name="yw_type">
	                                <option value="请选择">---请选择---</option> 
	                                <option value="短信">短信</option> 
	                                <option value="广告">广告</option> 
	                                <option value="IDC">IDC</option> 
	                                <option value="流量">流量</option> 
	                                <option value="语音">语音</option> 
	                                <option value="BI">BI</option> 
	                                <option value="彩信">彩信</option	> 
	                                </select> 
							  </div>	
					</div>
					<div class="control-group">
								<label class="control-label">业务描述</label>
								<div class="controls">
								<textarea  id="yw_desc" name="yw_desc" class="validate[required]" ></textarea>
								</div>
					</div>
					<div class="control-group">
								<label class="control-label">域名名称</label>
								<div class="controls">
								<textarea  id="dns_name" name="dns_name" class="validate[required]" ></textarea>
								</div>
					</div>
					<div class="control-group">
								<label class="control-label">端口</label>
								<div class="controls">
								<input id="port" name="port" class="validate[required]" />*多个端口用英文空格隔开
								</div>
					</div>
					<div class="control-group">
								<label class="control-label">解析IP</label>
								<div class="controls">
							<textarea  id="ip" name="ip" class="validate[required]" ></textarea></br>
							 <span>*设置了主备用的需要分开写明对应的IP地址。</span>
								</div>
					</div>
					
    				<div class="form-actions">
								<button type="submit" class="btn btn-primary" >确定</button>
					</div>
					</form>	
				  	
{% endblock %}