<!DOCTYPE html> 
<html lang="en">
	<!-- container-fluid -->
	<head>
		<title>运维操作平台</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="static/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="static/css/unicorn.main.css" />
		<link rel="stylesheet" href="static/css/unicorn.grey.css" class="skin-color" />
		<style type="text/css">
			html,body{ height: 100%;}
		</style>
	</head>
	<body>
		<div id="header">
			<h1><a href="index.html">运维操作平台</a></h1>		
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li><a title="" href="#"><i class="icon icon-user"></i> <span class="text">{{username}}</span></a></li>
                <li><a title="" href="logout"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<a href="#" class="visible-phone"><i class="icon icon-home"></i>预警菜单</a>
			<ul>
                                <li class="submenu">
                                <a href="#"><i class="icon icon-list-alt"></i>监控信息 <span class="label">&gt;&gt;</span></a>
                                        <ul>
                                                <li><a href="NoticeInfo/newreason_select.do" target="mainframe">告警展示</a></li>
                                                <li><a href="NoticeInfo/notice_detail" target="mainframe">告警明细查询</a></li>
						<li><a href="MonitorPort/select.do" target="mainframe"><span>TCP端口监控</span> </a></li>
						<li><a href="Chart/alarm_statistics" target="mainframe">告警处理统计</a></li>
					        <li><a href="Chart/chart" target="mainframe">告警统计展示</a></li>
                                        </ul>
                                </li>
				<li class="submenu"><a href="#"><i class="icon icon-user"></i>监控配置 <span class="label">&gt;&gt;</span></a>
					<ul>
                                                <li><a href="MonitorInfo/select.do?monitor_type=0" target="mainframe">监控命令管理</a></li>
                                                <li><a href="ServerMonitorInfo/select.do?monitor_type=0" target="mainframe">服务器监控管理</a></li>
						<li><a href="CommentList/select.do" target="mainframe">监控分类管理</a></li>
                                                <li><a href="LogQuery/select.do" target="mainframe">操作日志</a></li>
					</ul>
				</li>
                                <li class="submenu">
                                        <a href="#"><i class="icon icon-list-alt"></i>日志查询<span class="label">&gt;&gt;</span></a>
                                        <ul>
                                                        <li><a href="LogAnalysis/customerSubmit.do" target="mainframe">自有网关日志查询</a></li>
                                                        <li><a href="CommandQuery/clusterSubmit.do" target="mainframe">集群日志查询</a></li>
                                                        <li><a href="Smsweb/Smssubmit" target="mainframe">短信平台日志查询</a></li>
                                                        <li><a href="LiuliangQuery/flowreceive" target="mainframe">流量提交日志</a></li>
                                                        <li><a href="VoiceQuery/voicereceive" target="mainframe">语音提交日志</a></li>
                                        </ul>
                                </li>
				<li><a href="DNSManage/select.do?type=0" target="mainframe"><i class="icon icon-file"></i>域名查询</a></li>
                                <li class="submenu"><a href="#"><i class="icon icon-tasks"></i>31省测试平台 <span class="label">&gt;&gt;</span></a>
                                        <ul>
                                        <li class="active"><a href="PhoneCard/select_un.do" target="mainframe"> <span>手机卡查询</span></a></li>
                                        <li><a href="OutBox/insert_un.do" target="mainframe">上行测试</span></a></li>
                                        <li><a href="DeliverQuery/select_un.do" target="mainframe">上行回复结果</a></li>
                                        <li><a href="SendQuery/select_un.do" target="mainframe">下发手机接收记录</a></li>
	                                <li><a href="ServiceSmsInfo/insert_un.do" target="mainframe"> <span>下发测试</span></a></li>
                                        <li><a href="AutoSendConfig/select.do" target="mainframe">下行线程控制</a></li>
                                        <li><a href="AutoSendConfig/option.do" target="mainframe">配置文件查看修改</a></li>
                                        </ul>
				<li class="submenu">
					<a href="#"><i class="icon icon-list-alt"></i>网络ping监控 <span class="label">&gt;&gt;</span></a>
					<ul>
						<li><a href="Monitor_ping/ping_info" target="mainframe">网络分钟级监控</a></li>
						<li><a href="Monitor_ping/server_info" target="mainframe">业务服务器管理</a></li>
						<li><a href="Monitor_ping/replace_info" target="mainframe">不可ping地址处理</a></li>
						<li><a href="Monitor_ping/site_info" target="mainframe">监测点管理</a></li>
					</ul>
				</li>
				<li><a href="ServerManager/select.do?type=0" target="mainframe"><i class="icon icon-hdd"></i>运维工作分配</a></li>
				<li><a href="dutytable/duty_table" target="mainframe"><i class="icon icon-hdd"></i>运维工作值班</a></li>
				<li><a href="NoticeInfo/FailureNotification.do" target="mainframe"><i class="icon icon-file"></i>故障及升级通知</a></li>
                                <li><a href="LogAnalysis/net_switch_mobile.do" target="mainframe"><i class="icon icon-list-alt"></i>携号转网号码查询</a></li>
				<li><a class="sidebar-toggler tip-top" data-original-title="折叠" href="#"><i class="icon icon-step-backward"></i></a></li>
			</ul>
		</div>
		
		<div id="content">
			<iframe src="NoticeInfo/Myalarm" width="100%" height="100%" frameborder="0" name="mainframe" id="mainframe">			
			</iframe>
		</div>

            <script src="static/js/jquery.min.js"></script>
            <script src="static/js/bootstrap.min.js"></script>
            <script src="static/js/unicorn.js"></script>
            <script type="text/javascript">	
				
			</script>
	</body>
</html>
