<!DOCTYPE html> 
<html lang="en">
	<!-- container-fluid -->
	<head>
		<title>运维管理平台</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="static/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="static/css/unicorn.main.css" />
		<link rel="stylesheet" href="static/css/unicorn.grey.css" class="skin-color" />
		<style type="text/css">
			html,body{ height: 100%;}
		</style>
	</head>
	<body>
		<div id="header">
			<h1><a href="index.html">运维管理平台</a></h1>		
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li><a title="" href="#"><i class="icon icon-user"></i> <span class="text">{{username}}</span></a></li>
                <li><a title="" href="logout"><i class="icon icon-share-alt"></i> <span class="text">退出</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<ul>
                                <li class="submenu">
                                <a href="#"><i class="icon icon-list-alt"></i> <span>监控系统</span> <span class="label">&gt;&gt;</span></a>
                                        <ul>
					        <li><a href="Chart/chart" target="mainframe">图表展示</a></li>
                                                <li><a href="NoticeInfo/newreason_select.do" target="mainframe">未处理</a></li>
                                                <li><a href="NoticeInfo/select" target="mainframe">需跟进</a></li>
                                                <li><a href="NoticeInfo/NIselect_Ignored_select" target="mainframe">忽略</a></li>
                                                <li><a href="NoticeInfo/reason_select.do" target="mainframe">已处理记录</a></li>
                                                <li><a href="NoticeInfo/recovered_select.do" target="mainframe">已恢复记录</a></li>
                                                <li><a href="NoticeInfo/notice_detail" target="mainframe">告警明细查询</a></li>
                                                <li><a href="MonitorInfo/select.do?monitor_type=0" target="mainframe">SQL语句</a></li>
                                                <li><a href="MonitorInfo/select.do?monitor_type=1" target="mainframe">LINUX命令</a></li>
						<li><a href="ServerInfo/select.do" target="mainframe"><i class="icon icon-hdd"></i> <span>服务器管理</span></a></li>
                                                <li><a href="ServerMonitorInfo/select.do?monitor_type=0" target="mainframe">sql语句监控</a></li>
                                                <li><a href="ServerMonitorInfo/select.do?monitor_type=1" target="mainframe">linux命令监控</a></li>
		                                <li><a href="MonitorPort/select.do" target="mainframe"> <span>TCP端口监控</span> </a></li>
		                                <li><a href="TableBackup/select.do" target="mainframe"> <span>表备份管理</span></a></li>
                		                <li><a href="DNSManage/select.do?type=0" target="mainframe"> <span>域名管理</span></a></li>
                                		<li><a href="NoticeInfo/FailureNotification.do" target="mainframe"> <span>故障及升级通知</span></a></li>
                                                <li><a href="UserGroup/select.do" target="mainframe">用户组管理</a></li>
                                                <li><a href="UserInfo/select.do" target="mainframe">用户管理</a></li>
                                                <li><a href="ServerManager/select.do?type=0" target="mainframe">责任分配表</a></li>
                                                <li><a href="AdminUser/select.do" target="mainframe">人员管理</a></li>
                                                <li><a href="CommentList/select.do" target="mainframe">监控分类管理</a></li>
                                                <li><a href="ConfigInfo/select.do" target="mainframe">预警参数管理</a></li>
                                                <li><a href="LogQuery/select.do" target="mainframe">操作日志</a></li>
                                                <li><a href="dutytable/duty_table" target="mainframe"> <span>运维值班表</span></a></li>
                                                <li><a href="Chart/alarm_statistics" target="mainframe">告警处理统计</a></li>
                                        </ul>
                                </li>

				<li class="submenu">
					<a href="#"><i class="icon icon-list-alt"></i> <span>日志查询</span> <span class="label">&gt;&gt;</span></a>
					<ul>
					</ul>
				</li>
				<li class="submenu"><a href="#"><i class="icon icon-tasks"></i> <span>31省测试平台</span> <span class="label">&gt;&gt;</span></a>
					<ul>
					</ul>
				</li>
				<li class="submenu">
					<a href="#"><i class="icon icon-list-alt"></i> <span>网络监控系统</span> <span class="label">&gt;&gt;</span></a>
					<ul>
						<li><a href="Monitor_ping/ping_info" target="mainframe">ping_info监控</a></li>
						<li><a href="Monitor_ping/server_info" target="mainframe">server_info监控</a></li>
						<li><a href="Monitor_ping/replace_info" target="mainframe">replace_info监控</a></li>
						<li><a href="Monitor_ping/site_info" target="mainframe">监测点管理</a></li>
					</ul>
				</li>
				<li><a class="sidebar-toggler tip-top" data-original-title="折叠" href="#"><i class="icon icon-step-backward"></i></a></li>
			</ul>
		</div>
		
		<div id="content">
			<!--<iframe src="NoticeInfo/newreason_select.do" width="100%" height="100%" frameborder="0" name="mainframe" id="mainframe">			--!>
			<iframe src="Chart/chart" width="100%" height="100%" frameborder="0" name="mainframe" id="mainframe">			
			</iframe>
		</div>

            <script src="static/js/jquery.min.js"></script>
            <script src="static/js/bootstrap.min.js"></script>
            <script src="static/js/unicorn.js"></script>
            <script type="text/javascript">	
				
			</script>
	</body>
</html>
