{% extends "table1.html" %}



{% block title %}运维工作分配表{% endblock %}







{% block title1 %}服务器分配表{% endblock %}



							



{% block thread %}



										<tr>



											<th nowrap="nowrap">业务负责组</th>



											<th nowrap="nowrap">责任人</th>



											<th>负责服务器</th>



											<th>负责机房</th>



											<th nowrap="nowrap">代理人</th>



										</tr>



{% endblock %}







{% block tbody %}



										{% for manager in table_list %}



										<tr>



											{% if manager.group_name != '系统组' %}



											<td>{{manager.group_mark}}</td>



											<td  nowrap="nowrap" ><B>{{manager.group_name}}</B></td>



											<td style="word-break:break-all; word-wrap: break-word;width:50%">{{manager.server_name}}</td>



											<td>{{manager.server_room}}</td>



											<td>{{manager.agent_name}}</td>



											{% endif %}



										</tr>



										{% endfor %}



										



{% endblock %}



{% block thread2 %}



										<tr>



											<th>技术负责组</th>

											<th nowrap="nowrap">服务客服</th>

											<th>专属技术负责人</th>

											<th nowrap="nowrap">第一代理人</th>

											<th nowrap="nowrap">第二代理人</th>



										</tr>



{% endblock %}



{% block title22 %}技术支持分配表 {% endblock %}



{% block tbody2 %}





										<tr>

											<td>运维1组</td>

											<td nowrap="nowrap">张媛媛、袁媛（语音）、郭阳</td>

											<td>郭小蕾</td>

											<td nowrap="nowrap">高宇</td>

											<td nowrap="nowrap">陈青云</td>

										</tr>



										<tr>

											<td>运维1组</td>

											<td nowrap="nowrap">张媛、郭雅芬、刘华颍</td>

											<td>高宇</td>

											<td nowrap="nowrap">陈青云</td>

											<td nowrap="nowrap">詹瑞杉</td>

										</tr>



										<tr>



											<td>运维1组</td>





											<td nowrap="nowrap">姜云平、白雪、申杨</td>

											<td>陈青云</td>



											<td nowrap="nowrap">詹瑞杉</td>

											<td nowrap="nowrap">郭小蕾</td>



										</tr>

										

										<tr>



											<td>运维1组</td>





											<td nowrap="nowrap">李洋、徐婷婷</td>

											<td>詹瑞杉</td>



											<td nowrap="nowrap">未丽华</td>

											<td nowrap="nowrap">仉晓甜</td>



										</tr>
										
										<tr>



										 <td>运维1组</td>





										 <td nowrap="nowrap">蔡佳丽、戚灵珊、赵静</td>

										 <td>未丽华</td>



										 <td nowrap="nowrap">郭小蕾</td>

										<td nowrap="nowrap">高宇</td>



										</tr>



										<tr>



											<td>运维2组</td>	





											<td nowrap="nowrap">高燕、李甜甜、赖金溢</td>

											<td>吴云</td>



											<td nowrap="nowrap">黄振根</td>

											<td nowrap="nowrap">吴伟杰</td>



										</tr>



										<tr>



											<td>运维2组</td>





											<td nowrap="nowrap">李文莉、张春妮、叶荣荣</td>

											<td>黄振根</td>



											<td nowrap="nowrap">吴伟杰</td>

											<td nowrap="nowrap">吴云</td>



										</tr>

										

										<tr>



											<td>运维2组</td>	





											<td nowrap="nowrap">李阳、黄红云（流量）、黄燕卿</td>

											<td>吴伟杰</td>



											<td nowrap="nowrap">黄振根</td>

											<td nowrap="nowrap">吴云</td>



										</tr>
										<tr>



											<td>运维2组</td>	





											<td nowrap="nowrap">游志娜、王彩霞、周鸣捷</td>

											<td>叶辉煌</td>



											<td nowrap="nowrap">范祥和</td>

											<td nowrap="nowrap">马利民</td>



										</tr>
										<tr>



											<td>运维2组</td>	





											<td nowrap="nowrap">林培榕、颜巧莲</td>

											<td>范祥和</td>



											
											<td nowrap="nowrap">叶辉煌</td>
											<td nowrap="nowrap">马利民</td>



										</tr>
										<tr>
										<tr>



											<td>运维对接</td>	





											<td nowrap="nowrap">全体</td>

											<td>吴云</td>



											<td nowrap="nowrap">郭小蕾</td>

											<td nowrap="nowrap">高宇</td>



										</tr>

										<tr>



											<td>运维对接</td>	





											<td nowrap="nowrap">全体</td>

											<td>郭小蕾</td>



											<td nowrap="nowrap">吴云</td>

											<td nowrap="nowrap">高宇</td>



										</tr>

										<tr>



											<td>运维对接</td>	





											<td nowrap="nowrap">全体</td>

											<td>高宇</td>



											<td nowrap="nowrap">郭小蕾</td>

											<td nowrap="nowrap">吴云</td>



										</tr>



										



{% endblock %}



{% block title33 %}机房及IDC客户支持分配 {% endblock %}



{% block thread3 %}



										<tr>



											<th>负责人</th>



											<th nowrap="nowrap">负责机房</th>



											<th nowrap="nowrap">IDC客户支持</th>



											<th nowrap="nowrap">代理人</th>



										</tr>



{% endblock %}



{% block tbody3 %}



									{% for manager1 in table_list1 %}



										<tr>



											<td>{{manager1.owner}}</td>



											<td  nowrap="nowrap" >{{manager1.server_room}}</td>



											<td nowrap="nowrap">{{manager1.idc_service}}</td>



											<td>{{manager1.agent}}</td>



										</tr>



									{% endfor %}



						



										



{% endblock %}
