{%extends "form.html" %}
{% block title %}业务服务器更新{% endblock %}
{% block title1 %}server监控信息{% endblock %}
{% block form %}
					<form  action="server_update" method="post" class="form-horizontal"  id="formID">
					{% for mobile in table_list %}
					<div class="control-group">
								<label class="control-label">服务器ip</label>
								<div class="controls">
									<input  id="server_ip" name="server_ip" class="validate[required]" value="{{mobile.server_ip}}" style="width:220px;"/>
								</div>
					</div>
					
					<div class="control-group">
								<label class="control-label">私网ip</label>
								<div class="controls">
									<input  id="private_ip" name="private_ip" value='{{mobile.private_ip}}' style="width:220px;"/>
								</div>
					</div>
					
					<div class="control-group">
								<label class="control-label">服务器标识</label>
								<div class="controls">
								<input  id="server_id" name="server_id" value='{{mobile.server_id}}' class="validate[required]" style="width:220px;"/>
								</div>
					</div>
					
					<div class="control-group">
                                                                <label class="control-label">服务器名称</label>
                                                                <div class="controls">
                                                                        <input  id="server_desc" name="server_desc" value='{{mobile.server_desc}}' class="validate[required]" style="width:220px;"/>
                                                                </div>
                                        </div>				

					
					<div class="control-group">
									<label class="control-label">域名</label>
									<div class="controls">
                                                                        <input  id="domain_name" name="domain_name" value='{{mobile.domain_name}}'  style="width:220px;"/>
									</div>
					</div>
					<input type="hidden" name="sn" value="{{mobile.sn}}" />
					{% endfor %}
					<div class="form-actions">
								<button type="submit" class="btn btn-primary" name="config" value="config">保存</button>
					</div>
					</form>

					
{% endblock %}
