{%extends "form.html" %}
{% block title %}监测点更新{% endblock %}
{% block title1 %}监测点信息{% endblock %}
{% block form %}
					<form  action="site_update" method="post" class="form-horizontal"  id="formID">
					{% for mobile in table_list %}
					<div class="control-group">
								<label class="control-label">组别</label>
								<div class="controls">
									<input  id="group_name" name="group_name" class="validate[required]" value="{{mobile.group_name}}" style="width:220px;"/>
								</div>
					</div>
					
					<div class="control-group">
								<label class="control-label">服务器标识</label>
								<div class="controls">
									<input  id="server_id" name="server_id" value='{{mobile.server_id}}' style="width:220px;"/>
								</div>
					</div>
					
					<div class="control-group">
								<label class="control-label">服务器类型</label>
								<div class="controls">
									<input  id="server_name" name="server_name" value='{{mobile.server_name}}' style="width:220px;"/>
								</div>
					</div>
					<input type="hidden" name="sn" value="{{mobile.sn}}" />
					{% endfor %}
					<div class="form-actions">
								<button type="submit" class="btn btn-primary" name="config" value="config">保存</button>
					</div>
					</form>

					
{% endblock %}
