{% extends "table2.html" %}
{% block title %}操作日志{% endblock %}
{% block title1 %}操作日志展示{% endblock %}
{% block form %}
	<form action="select.do" method="post" class="form-inline" name="formID" id="formID"/>
					&nbsp;&nbsp;第一个关键字:<input type="text" name="search1" id="search"  value="{{search1}}" class="validate[required]" placeholder="表名人名或其它"/>
					&nbsp;&nbsp;第二个关键字:<input type="text" name="search2" id="search"  value="{{search2}}" placeholder="包含第一个关键字行的其他字符"/>
					&nbsp;&nbsp;查询时间：<input  type="text" id="startTime" data-date-format="yyyy-mm-dd"  class="datepicker" value="{{startTime}}" name="startTime" placeholder="默认所有"/>
					<input type="submit" class="btn"  value="查询" />
 	</form>	
 				<p></p>
 				{%if command%}
					<span><code>命令：{{command}}</code></span>
 				{% else %}
 					<span></span>
				{%endif%}
{% endblock %}

							
{% block thread %}
										<tr>
											<th nowrap="nowrap">序号</th>
											<th nowrap="nowrap">查询结果</th>
										</tr>
{% endblock %}

{% block tbody %}
										{% for message in table_list %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td align="left">{{message.content}}</td>
										</tr>
										{% endfor %}
{% endblock %}
