{% extends "table6.html" %}
{% block title %}集群接收端提交记录查询{% endblock %}
{% block title1 %}提交记录展示{% endblock %}
{% block href %}
                            <li><a href="clusterSubmit.do">提交记录</a></li>
                            <li><a href="clusterSpeed.do">提交速度</a></li>
                            <li><a href="clusterSend.do">发送记录</a></li>
			    <li><a href="request_ip">交互ip</a></li> 
			    <li class="active"><a href="td_speed.do">通道发送速度</a></li> 
{% endblock %}
{% block form %}
	<form action="clusterSubmit.do" method="post" class="form-inline" name="formID" id="formID"/>
									服务器：<select name="type">
										{% if type == "cluster_227" %}
										<option value="cluster_64">cluster_64</option>
										<option value="cluster_227" selected>cluster_227</option>
										<option value="cluster_35">cluster_35</option>
										<option value="cluster_226">cluster_226</option>
										<option value="cluster_21">cluster_21</option>
										{% elif type == "cluster_226" %}
										<option value="cluster_64">cluster_64</option>
										<option value="cluster_227">cluster_227</option>
										<option value="cluster_35">cluster_35</option>
										<option value="cluster_226" selected>cluster_226</option>
										<option value="cluster_21">cluster_21</option>
										{% elif type == "cluster_35" %}
										<option value="cluster_64">cluster_64</option>
										<option value="cluster_227">cluster_227</option>
										<option value="cluster_35" selected>cluster_35</option>
										<option value="cluster_226">cluster_226</option>
										<option value="cluster_21">cluster_21</option>
										{% elif type == "cluster_21" %}
										<option value="cluster_64">cluster_64</option>
										<option value="cluster_227">cluster_227</option>
										<option value="cluster_35" s>cluster_35</option>
										<option value="cluster_226">cluster_226</option>
										<option value="cluster_21" selected>cluster_21</option>
										{% else %}
										<option value="cluster_64" selected>cluster_64</option>
										<option value="cluster_227">cluster_227</option>
										<option value="cluster_35">cluster_35</option>
										<option value="cluster_226">cluster_226</option>
										<option value="cluster_21">cluster_21</option>
										{% endif %}
									</select>
					&nbsp;&nbsp;第一个关键字:<input type="text" name="search1" id="search"  value="{{search1}}" placeholder="如：手机号码/账号等" class="validate[required]"/>
					&nbsp;&nbsp;第二个关键字:<input type="text" name="search2" id="search"  value="{{search2}}" placeholder="包含第一个关键字行的其他字符"/>
					&nbsp;&nbsp;查询时间：<input  type="text" id="startTime" data-date-format="yyyy-mm-dd"  class="datepicker" value="{{startTime}}" name="startTime" class="validate[required]"/>&nbsp;时：<select name="hour"  style="width:70px"> 
					<option value=""></option>      				
					<option value="01">01</option> 
					<option value="02">02</option> 
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					</select>
					<input type="submit" class="btn"  value="查询" />(64集群可查询半个月记录,其他集群可查询一个月记录)
 	</form>	
 				<p></p>
 				{%if command%}
					<span><code>命令：{{command}}</code></span>
 				{% else %}
 					<span></span>
				{%endif%}
{% endblock %}

							
{% block thread %}
										<tr>
											<th nowrap="nowrap">序号</th>
											<th nowrap="nowrap">服务器IP</th>
											<th nowrap="nowrap">查询结果</th>
										</tr>
{% endblock %}

{% block tbody %}
										{% for message in table_list %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td>{{message.server}}</td>
											<td  style="word-break:break-all; word-wrap: break-word">{{message.content|safe}}</td>
										</tr>
										{% endfor %}
{% endblock %}
